body {
            background-color: ivory
}
.container {
  background-color: rgb(230, 188, 188);
  height: 775px;
  width: 1000px;
}
.Header {
  height: 70px;
  text-align: center;
  background-color: rgb(10, 110, 149);
  color: rgb(0, 0, 0);
  padding: 20px;
  border-radius: 2203px;
  
}
nav { 
  width: 97.5%;
  background-color: #b9d3d5;
  padding: 20px 5px 20px 20px;
  margin: auto;
  text-align: left;
  font-size: 20px;
  
}

h1 		{
      color: rgb(0, 0, 0);
			font-size: 40px
}       		
h2 		{
  color: rgb(107, 18, 18);
  font-size: 30px
}

#Plans {
  background-color: Lavender;
  width: 500px;
  float: left; 
  border-style: groove;

}
#Hello 	{
		background-color: Lavender;
		width: 500px;
    font-size: 20px;
    color: DarkBlue;
    border-style: inset;
	}

aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: rgb(119, 149, 214);
    border-style: groove;


}
ol {
	list-style-type: lower-alpha;
}

ul {
	list-style-type: square
}
footer {
  width: 100%;
  float: left;
  font-style: italic;
  background-color: lightgray;
}

.profileimage {
  border: 2px skyblue ;
  padding: 2px;
  float: right;
  border-radius: 70%;
  margin-right: 50px;
