.Header {
    height: 70px;
    width: 700px;
    border-style: dotted;
    background-color: rgb(10, 110, 149);
    color: rgb(0, 0, 0);
    padding: 10px;
  }
  .MyPhoto {
    width: 400px;
    height: auto;
}

.MyPhoto {
    width: 300px;
    height: auto;
}
.container  {
  
  right: 100%;
  position: right;
  height: auto;
  width: auto;
  color: rgb(0, 0, 0);
  padding: 10px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.Photo {
  background-color: aqua;
  color: white;
  border-style: dashed;
}

aside {
  width: 50%;
  float: left;
  font-style: italic;
  background-color: lightgray;
}

section { 
  display: block;
  color: rgb(0, 0, 0);
}

footer {
  width: 50%;
  float: left;
  font-style: italic;
  background-color: lightgray;
}
nav { 
  width: 55%;
  background-color: #EEF9FA;
  padding: 20px 5px 20px 20px;



}
